/*
    Document   : css/style.css
    Created on : 2013-12-28 08:17 PM
    Author     : juan2ramos
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}